.info.pure-u-1.pure-u-md-1
  %span.ctime= "Created on #{@item[:created]}"
  %span.mtime= "Modified on #{@item[:mtime].strftime('%Y-%m-%d')}"
  %span.tags= "Tagged #{tags_for(@item, {base_url: "/tags/"})}"
  %span.belief= "Belief: #{@item[:belief]}"
  %span.status= "Status: #{@item[:status]}"
