!!! 5
%html
  %head
    %title Essays
    %meta{:contents => "text/html; charset=UTF-8", :http_equiv => "Content-Type"}
    %meta{:charset => "UTF-8"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1"}
    = render "_styles"
    = render "_js"
  %body
    = render "_nav"
    %h1.title Essays
    = yield 
    = render "_footer"
