!!! 5
%html
  %head
    %title= [@item[:title], " | expoundite.net"].join ""
    %meta{:contents => "text/html; charset=UTF-8", :http_equiv => "Content-Type"}
    %meta{:charset => "UTF-8"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1"}
    = render "_js"
    = render "_styles"
  %body
    = render "_nav"
    %article.pure-u-1.pure-u-md-3-4
      %h1.title= @item[:title]
      = render "_info"
      = yield
    = render "_footer"

