!!! 5
%html
  %head
    %title= [@item[:title], " | expoundite.net"].join ""
    %meta{:contents => "text/html; charset=UTF-8", :http_equiv => "Content-Type"}
    %meta{:charset => "UTF-8"}
    = render "_js"
    = render "_styles"
  %body
    = render "_nav"
    = render "_info"
    %article
      %h1.title= @item[:title]
      = yield
    = render "_footer"

