!!! 5
%html
  %head
    %title= [@item[:title], " | expoundite.net"].join ""
    -# = render "js"
    = render "_styles"
  %body
    = render "_nav"
    = render "_info"
    %article
      = yield
    = render "_footer"

