!!! 5
%html
  %head
    %title= [@item[:title], " | Essays"].join ""
    = render "_js"
    = render "_styles"
  %body
    = render "_nav"
    .tags_list 
      - items_with_tag(@item[:tag]).each do |i|
        %p= link_to i[:title], i.identifier.chop
        end

    = render "_footer"

