!!! 5
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1"}
    %title= [@item[:title], " | Essays"].join ""
    = render "_js"
    = render "_styles"
  %body
    = render "_nav"
    %h3= @item[:title]
    .tags_list 
      - items_with_tag(@item[:tag]).each do |i|
        %p= link_to i[:title], i.identifier.chop

    = render "_footer"

